fastapi
uvicorn[standard]
pyjwt
pymongo[srv]
pydantic-settings
passlib
python-dotenv
pandas
scikit-learn
shap
langchain 
langchain-openai 
langchain-community 
langchain-experimental
langchainhub
tabulate
